header{
	background-color: #F5CEBE
;
}
#menu_baixo ul{
	font-family: 'Exo', sans-serif;
	font-weight: lighter;
	font-size: 23px;
	list-style: none;
	padding:20;
	display: flex;
	margin: 0 0 0 30px;
	justify-content: flex-end;
	justify-content: safe center;
}

#menu_baixo ul li {
	display: inline;
}

#menu_baixo ul li a {
	color: #000;
	padding: 20px;
	display: inline-block;
	text-decoration: none;
	transition: background .4s;
}

#menu_baixo ul li a:hover {
	background-color: #F4EEE8
;
}
#menu_cima ul{
	font-family: 'Exo', sans-serif;
	font-weight: lighter;
	max-width: 800px;
	list-style: none;
	padding:20;
	display: flex;
	text-align: left;
	margin: 0 0 0 30px;
}

#menu_cima ul li {
	display: inline;
}

#menu_cima ul li a {
	color: #000;
	padding: 20px;
	display: inline-block;
	text-decoration: none;
	transition: background .4s;
}

#menu_cima ul li a:hover {
	background-color: #F4EEE8
;
}
#foto_logo{
	padding: 20;
	display: block;
	text-align: center;

}
body{
	background-image: url(./imagens/bege.jpg);
	margin: 0
}
#destaques {
	text-align: center;
}
#brasileiros img{
	justify-content: center;
}
#artistas ul li{
	list-style: none;
	display: inline-flex;
	margin-top: 7px;
	border-right: 30px solid #F4EEE8;
	border-left: 7px solid #F4EEE8; 
	justify-content: center;

}
footer{
	position: relative;
	bottom: 100;
	background-color: #F4EEE8;
	max-height: 500px;
	text-align: center;
	line-height: normal;
	margin-bottom: 0;
	border: 1px solid #BCBBBB;
	max-width: all;
}
footer h4{
	margin-top: 5px;
	font-family: 'Exo', sans-serif;
	font-size: 15px;
	font-weight:bold;
	color: black;
}
