header {
	background:#F5CEBE ;
}

body {
	margin: 0px;
	width: 100%;
	height: 100vh;
}
#menu ul {
	margin: 0px;
	padding: 0px;
	display: flex;
	font-size: 23px;
	justify-content: center;
	position: relative;

}

#menu ul li {
	display: flex;
}

#menu ul li a {
	text-decoration: none;
	color: #000;
	padding: 20px;
	font-family: 'Exo', sans-serif;
	font-family: 'Montserrat', sans-serif;
	display: inline-flex;
	transition:  background.4s;
}

#menu ul li a:hover {
	background-color: #F4EEE8;
}
#museu{
	width: 1200px;
	height: 600px;
	margin-left: 160px;
}
h2{
	text-align: center;
	font-family: 'Exo', sans-serif;
	font-weight: bolder;
}
p{
	text-align: center;
	font-family: 'Exo', sans-serif;
	font-size: 20px;
	font-weight: normal;
}
iframe{
	margin-left: 160px;
	width: 1200px;
	height: 500px;
}
#covid{
	background-color: #F5CEBE;
	padding: 20px;
}
#fotos ul{
	margin-left: 130px;
}
#fotos ul li{
	list-style: none;
	display: inline-flex;
	margin-top: 7px;
	border-right: 100px solid #F4EEE8;
	border-left: 100px solid #F4EEE8; 
}
#fotos img{
	width: 200px;
}
#legenda ul{
	margin-left: 250px;
}
#legenda ul li{
	list-style: none;
	display: inline-flex;
	margin-top: 0;
	border-right: 250px solid #F4EEE8;
	border-left: 10px solid #F4EEE8;
	font-weight: normal;
	margin-bottom: 50px;
}
footer{
	font-family: 'Exo', sans-serif;
	font-size: 15px;
	font-weight:bold;
	position: relative;
	bottom: 100;
	background-color: #F4EEE8;
	max-height: 500px;
	text-align: center;
	line-height: normal;
	margin-bottom: 0;
	margin-top: 5px;
	border: 1px solid #BCBBBB;
	max-width: all;
}